{% extends 'base.html' %} {% block content %}

<section class="jumbotron text-center" id="home">
    <div class="container demo">
        <section class="showcase">
            <video src="media/images/video.mp4" autoplay loop muted></video>
            <h1 class="title">
                 Hi, Im Tadaka Surya Teja.
            </h1>
        </section>

        <h1>
          <div class="typewrite" data-period="2000" data-type='["I am a Creative Developer", "I Love Design.", "I Love to play With Cool Stuff." ]'>
          </div>
        </h1>
        <h1 class="jumbotron-heading"></h1>
        <p class="lead text-muted">I am a software engineer based in Hyderabad, India. I am a self-taught programmer, and I am passionate about learning new technologies and building cool stuff. I love to solve problems and I am always open to learn new things.</p>
        <p>
            <a href="mailto:suryateja233@gmail.com" class="btn btn-primary my-2">Email us</a>
            <a href="https://github.com/TadakaSuryaTeja" class="btn btn-info my-2">Github</a>
        </p>
    </div>
</section>

<section class="jumbotron text-center"  id="about">
    <div class="container">
      <h1 class="jumbotron-heading">About</h1>
      <p class="lead text-muted">
I have experience of 3 years of working in the IT Industry. Currently working in Qentelli as a Software Engineer.
My area of expertise includes Machine Learning, NLP, OpenCV, visualization, Data Interpretation, DevOps, testing web, and mobile applications. My preferred domain is Machine Learning and I would like to continue in this domain to utilize the knowledge I have gained so far.

I have done my B. Tech from Vardhaman College of Engineering, Hyderabad with a specialization in Computer Science and Engineering.</p>
      <p>
        <a href="mailto:suryateja233@gmail.com" class="btn btn-primary my-2">Contact Me</a>
      </p>
    </div>
</section>


<section class="jumbotron text-center" id="experience">
    <div class="container">
        <h1 class="jumbotron-heading">Experience</h1>
        <p>
            <a href="https://www.ssctech.com/" class="btn btn-primary my-2">SS&C Technologies</a>
        </p>
         <p>
            <a href="https://www.qentelli.com/" class="btn btn-primary my-2">Qentelli</a>
        </p>
    </div>
</section>


<section class="jumbotron text-center" id="education">
    <div class="container">
        <h1 class="jumbotron-heading">Education</h1>
        <p>
            <a href="https://vardhaman.org/" class="btn btn-primary my-2">Btech</a>
        </p>
         <p>
            <a href="http://polytechnicts.cgg.gov.in/nizamabad.edu" class="btn btn-primary my-2">Diploma</a>
        </p>
        <p>
            <a href="https://schools.org.in/nizamabad/36021295401/kakatiya-high-school.html" class="btn btn-primary my-2">High School</a>
        </p>
    </div>
</section>


<section class="jumbotron text-center" id="skills">
    <div class="container">
        <h1 class="jumbotron-heading">Skills</h1>
        <p>
            <a href="#" class="btn btn-primary my-2">Python</a>
        </p>
         <p>
            <a href="#" class="btn btn-primary my-2">Django</a>
        </p>
        <p>
            <a href="#" class="btn btn-primary my-2">Machine Learning</a>
        </p>
        <p>
            <a href="#" class="btn btn-primary my-2">Visualization</a>
        </p>
        <p>
            <a href="#" class="btn btn-primary my-2">Automation</a>
        </p>
    </div>
</section>


<section class="jumbotron text-center" id="certificates">
    <div class="container">
        <h1 class="jumbotron-heading">Certificates</h1>
        <p>
            <a href="#" class="btn btn-primary my-2">Applied AI</a>
        </p>
         <p>
            <a href="#" class="btn btn-primary my-2">Django</a>
        </p>
        <p>
            <a href="#" class="btn btn-primary my-2">ML</a>
        </p>
    </div>
</section>

<div class="wrapper" id="blogs">
  <h1>Blogs</h1>
  <div class="cols">
    <div class="container">
        <div class="row">
            {% for blogs in blogs.all|slice:":3" %}
            <div class="col">
                <a href="{% url 'detail' blogs.id %}">
				<div class="container">
					<div class="front" style="background-image: url('{{blogs.image.url}}')">
						<div class="inner">
							<p>{{ blogs.summary}}</p>
						</div>
					</div>
					<div class="back">
						<div class="inner">
                            <p>{{ blogs.summary}}</p>
						</div>
					</div>
				</div>
                </a>
			</div>
            {% endfor %}
		</div>
    </div>
  </div>
</div>

<div class="wrapper" id="projects">
  <h1>Projects</h1>
  <div class="cols">
    <div class="container">
        <div class="row">
            {% for projects in projects.all|slice:":3" %}
            <div class="col">
                <a href="{% url 'project_details' projects.id %}">
				<div class="container">
					<div class="front" style="background-image: url('{{projects.image.url}}')">
						<div class="inner">
							<p>{{ projects.summary}}</p>
						</div>
					</div>
					<div class="back">
						<div class="inner">
                            <p>{{ projects.summary}}</p>
						</div>
					</div>
				</div>
                </a>
			</div>
            {% endfor %}
		</div>
    </div>
  </div>
</div>

<section class="jumbotron text-center" id="hobbies">
    <div class="container">
        <h1 class="jumbotron-heading">Hobbies</h1>
        <p>
            <a href="#" class="btn btn-primary my-2">Chess</a>
        </p>
         <p>
            <a href="#" class="btn btn-primary my-2">Playing with Laptop</a>
        </p>
    </div>
</section>

<section class="jumbotron text-center" id = "contactus">
    <div class="container">

        <h1 class="jumbotron-heading">Contact me</h1>
        <p>
            <a href="#" class="btn btn-primary my-2">Linkedin</a>
        </p>
         <p>
            <a href="#" class="btn btn-primary my-2">Twitter</a>
        </p>
        <p>
            <a href="#" class="btn btn-primary my-2">Github</a>
        </p>
        <p>
            <a href="#" class="btn btn-primary my-2">Kaggle</a>
        </p>
        <!-- ================== -->
        <!-- Google Map Element -->
        <section class="google-map">
            <div class="map-frame">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2148.5441034736186!2d113.90571038290093!3d22.25793180820957!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x340158f577d8e91d%3A0x771695466285a370!2sAsian%20Institute%20of%20Applied%20Buddhism%2C%20Lotus%20Pond%20Temple!5e0!3m2!1sen!2shk!4v1595793486587!5m2!1sen!2shk" width="300" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
        </section>
        <!-- Google Map Element -->
        <!-- ================== -->
    </div>

</section>

{% endblock %}