{% extends 'base.html' %} {% block content %}

<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Tadaka Surya Teja</h1>
        <p class="lead text-muted">I am a software engineer based in Hyderabad, India. I am a self-taught programmer, and I am passionate about learning new technologies and building cool stuff. I love to solve problems and I am always open to learn new things.</p>
        <p>
            <a href="mailto:suryateja233@gmail.com" class="btn btn-primary my-2">Email us</a>
            <a href="https://github.com/TadakaSuryaTeja" class="btn btn-info my-2">Github</a>
        </p>
    </div>
</section>

<section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">About</h1>
      <p class="lead text-muted">
I have experience of 3 years of working in the IT Industry. Currently working in Qentelli as a Software Engineer.
My area of expertise includes Machine Learning, NLP, OpenCV, visualization, Data Interpretation, DevOps, testing web, and mobile applications. My preferred domain is Machine Learning and I would like to continue in this domain to utilize the knowledge I have gained so far.

I have done my B. Tech from Vardhaman College of Engineering, Hyderabad with a specialization in Computer Science and Engineering.</p>
      <p>
        <a href="mailto:suryateja233@gmail.com" class="btn btn-primary my-2">Contact Me</a>
      </p>
    </div>
</section>


<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Experience</h1>
        <p>
            <a href="https://www.ssctech.com/" class="btn btn-primary my-2">SS&C Technologies</a>
        </p>
         <p>
            <a href="https://www.qentelli.com/" class="btn btn-primary my-2">Qentelli</a>
        </p>
    </div>
</section>


<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Education</h1>
        <p>
            <a href="https://vardhaman.org/" class="btn btn-primary my-2">Btech</a>
        </p>
         <p>
            <a href="http://polytechnicts.cgg.gov.in/nizamabad.edu" class="btn btn-primary my-2">Diploma</a>
        </p>
        <p>
            <a href="https://schools.org.in/nizamabad/36021295401/kakatiya-high-school.html" class="btn btn-primary my-2">High School</a>
        </p>
    </div>
</section>


<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Skills</h1>
        <p>
            <a href="#" class="btn btn-primary my-2">Python</a>
        </p>
         <p>
            <a href="#" class="btn btn-primary my-2">Django</a>
        </p>
        <p>
            <a href="#" class="btn btn-primary my-2">Machine Learning</a>
        </p>
        <p>
            <a href="#" class="btn btn-primary my-2">Visualization</a>
        </p>
        <p>
            <a href="#" class="btn btn-primary my-2">Automation</a>
        </p>
    </div>
</section>


<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Certificates</h1>
        <p>
            <a href="#" class="btn btn-primary my-2">Applied AI</a>
        </p>
         <p>
            <a href="#" class="btn btn-primary my-2">Django</a>
        </p>
        <p>
            <a href="#" class="btn btn-primary my-2">ML</a>
        </p>
    </div>
</section>


<div class="album py-5 bg-light">
    <div class="container">
        <h1>Blogs</h1>
        <div class="row">
            {% for blogs in blogs.all|slice:":6" %}
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <a href="{% url 'detail' blogs.id %}">
                        <img class="card-img-top" src="{{blogs.image.url}}" width="1000" height="250">
                    </a>
                    <div class="card-body">
                        <p class="card-text"> {{ blog.summary}}</p>
                        <a href="{% url 'detail' blogs.id %}">
                            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                        </a>
                    </div>
                </div>

            </div>
            {% endfor %}
        </div>
    </div>
</div>


<div class="album py-5 bg-light">
    <div class="container">
        <h1>Projects</h1>
        <div class="row">
            {% for projects in projects.all|slice:":6" %}
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <a href="{% url 'project_details' projects.id %}">
                        <img class="card-img-top" src="{{projects.image.url}}" width="1000" height="250">
                    </a>
                    <div class="card-body">
                        <p class="card-text"> {{ projects.summary}}</p>
                        <a href="{% url 'project_details' projects.id %}">
                            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                        </a>
                    </div>
                </div>

            </div>
            {% endfor %}
        </div>
    </div>
</div>

<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Hobbies</h1>
        <p>
            <a href="#" class="btn btn-primary my-2">Chess</a>
        </p>
         <p>
            <a href="#" class="btn btn-primary my-2">Playing with Laptop</a>
        </p>
    </div>
</section>

<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Contact me</h1>
        <p>
            <a href="#" class="btn btn-primary my-2">Linkedin</a>
        </p>
         <p>
            <a href="#" class="btn btn-primary my-2">Twitter</a>
        </p>
        <p>
            <a href="#" class="btn btn-primary my-2">Github</a>
        </p>
        <p>
            <a href="#" class="btn btn-primary my-2">Kaggle</a>
        </p>
    </div>
</section>

{% endblock %}