{% extends 'base.html' %}
{% block content %}


<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">About</h1>
      <p class="lead text-muted">
I have experience of 3 years of working in the IT Industry. Currently working in Qentelli as a Software Engineer.
My area of expertise includes Machine Learning, NLP, OpenCV, visualization, Data Interpretation, DevOps, testing web, and mobile applications. My preferred domain is Machine Learning and I would like to continue in this domain to utilize the knowledge I have gained so far.

I have done my B. Tech from Vardhaman College of Engineering, Hyderabad with a specialization in Computer Science and Engineering.</p>
      <p>
        <a href="mailto:suryateja233@gmail.com" class="btn btn-primary my-2">Contact Me</a>
      </p>
    </div>
  </section>

</main>

{% endblock %}